@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>contact</title>
</head>
<body>
    <div> 
        <h2>Hello this is my data: @Model</h2>
    </div>
</body>
</html>
